body{
    /* background: linear-gradient(rgba(248, 247, 247, 0.684),rgba(148, 142, 142, 0.589) ); */
    margin: 0;
    padding: 0;
    width: 100vh;
    height: auto;
    background-color:#f2eded14;

}
h1, h2{
    font-family: 'Lobster', cursive;
font-family: 'Noto Naskh Arabic', serif;
font-family: 'Noto Nastaliq Urdu', serif;
font-family: 'Noto Sans Arabic', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Rowdies', cursive;
font-family: 'Ubuntu', sans-serif;
}
p{

}
#root{
width:100vw;
}
h1{
    /* margin-top: 50px; */
    text-align: center;
    width:100vw;
    height:10vh;
    background: linear-gradient(rgba(248, 247, 247, 0.129),rgba(148, 142, 142, 0.589) );
    border-radius: 10px;
    padding-top: 50px;
    box-shadow: 5px 10px 8px #888888;

}
.container{
    /* margin-right: 10px; */
    display: flex;
    justify-content: space-evenly;
    gap: 5px;
    align-content: center;
}
.rightSide, .leftSide,.center{
    width:800px;
    height: 65vh;
    border-radius: 10px;
    padding: 50px;
    background: linear-gradient(rgba(248, 247, 247, 0.129),rgba(148, 142, 142, 0.589) );
    box-shadow: 5px 10px 8px #888888;


}
